@charset "UTF-8";

/* CSS reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin:0;
	padding:0;
	border:0;
	font-size:inherit;
	vertical-align:baseline;
	background:transparent;
	-webkit-text-size-adjust:none; /* device auto fontsize none */
	font-family:'NanumSquareRound', 'Dotum', 'Gulim', 'Arial', sans-serif;
	list-style:none;
	line-height:inherit;
	font-weight:inherit;
	color:inherit;
/*	letter-spacing:-1px;*/
}

/* outline */
* {outline:none !important;box-sizing:border-box;}
img {max-width:100%;}
/*html {scroll-behavior: smooth;}*/


em,address{font-style:normal;}
hr{display:none}
body{line-height:1.2;word-break: break-all;}
ol, ul{list-style:none;}
blockquote, q{quotes: none;}
blockquote:before, blockquote:after,q:before, q:after{content:'';content:none;}

ins{text-decoration:none;}
del{text-decoration:line-through;}
table{width:100%;border-collapse:collapse;border-spacing:0;table-layout:fixed;word-break:break-all;}
table th, table td{vertical-align:middle;}
fieldset{margin:0;padding:0;border:0 none;}
legend, caption {position:absolute; left:-9999px; width:0; height:0; font-size:0; line-height:0; overflow:hidden;}
caption{position:static;}

a {
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}


/* IE 6/7 .clearfix { zoom: 1; } */
.skip {
	display: block;
	height: 1px;
	width: 1px;
	margin: 0 -1px -1px 0;
	padding: 0;
	overflow: hidden;
	font-size: 0;
	line-height: 0;
}
.skip:active,.skip:focus,.skip:hover {
	display: block;
	width: 100%;
	height: auto;
	margin: 0;
	padding: 5px 0;
	text-indent: 10px;
	font-weight: bold;
	font-size: 12px;
	color: #333;
	line-height: 1;
	text-decoration: none !important;
	position: relative;
	text-align: center;
}
html, body,input,button,textarea{font-size:inherit; color:inherit; font-family:'NanumSquareRound', 'Dotum', 'Gulim', 'Arial', sans-serif;}
a {text-decoration: none;color: inherit;border:none;font-weight: inherit;font-family:inherit;}
a:active,a:visited,a:hover {text-decoration: none;/* color: inherit; */border:none;/* font-weight: inherit; */font-family:inherit;}
p, span, u, div {text-decoration: none;color: inherit;font-weight: inherit;font-family:inherit;}
a:focus, input:focus, textarea:focus {}
img,input{vertical-align:top;}
label{vertical-align:middle; font-size:14px; cursor:pointer;}
select {height:24px; margin:0; border: 1px solid #e8e8e8; padding:0; font-size:13px; vertical-align:middle; color:#333;  cursor:pointer;}


h1,h2,h3,h4,h5,h6,th,strong {font-weight:600;}
select {font-family:'NanumSquareRound', 'Dotum', 'Gulim', 'Arial', sans-serif;}

img {max-width:100%;}

/* html5 reset */
header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption, canvas{
	display:block; margin:0; padding:0; border:0; font-size:100%; font:inherit; vertical-align:baseline;
}
input {-webkit-appearance:none; border-radius:0; }
input[type='text'] {-webkit-appearance:none; /* device shadow none */}
input[type='text']::-ms-clear {display:none;} /* font rendering */

input::placeholder {color:#cecece;opacity: 1;}/* IE10 이상을 위한 css */
input::-webkit-input-placeholder {color:#cecece;}/* WebKit, Blink, Edge */
input:-ms-input-placeholder {color:#cecece;}/* IE */
input:-mos-input-placeholder {color:#cecece;}/* Firefox */
textarea::placeholder {color: #cecece;opacity: 1;}/* IE10 이상을 위한 css */
textarea::-webkit-input-placeholder {color: #cecece;}/* WebKit, Blink, Edge */
textarea:-ms-input-placeholder {color: #cecece;}/* IE */
textarea:-mos-input-placeholder {color: #cecece;}/* Firefox */


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.engT {font-family: "Montserrat", sans-serif;}